<%= form_with(model: pairwise_comparison, local: true) do |form| %>
  <% if pairwise_comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pairwise_comparison.errors.count, "error") %> prohibited this pairwise_comparison from being saved:</h2>

      <ul>
      <% pairwise_comparison.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :participant_id %>
    <%= form.text_field :participant_id %>
  </div>

  <div class="field">
    <%= form.label :scenario_1 %>
    <%= form.number_field :scenario_1 %>
  </div>

  <div class="field">
    <%= form.label :scenario_2 %>
    <%= form.number_field :scenario_2 %>
  </div>

  <div class="field">
    <%= form.label :choice %>
    <%= form.number_field :choice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
