<!-- <p id="notice"><%= notice %></p> -->

<%= render partial: 'page_1.html.erb' %>
<%= render partial: 'page_2.html.erb'%>
<%= render partial: 'done.html.erb'%>

<script type="text/javascript">
  $("#start_btn_1").click(function(event){
    $("#pg_1").css('display', 'none');
    $("#aller_encompassing").css('display', 'block')
  });

  $("#start_btn_2").click(function(event){
    $("#pg_2").css('display', 'none');
    $("#titulo").html("Social Ranking");
    $("#aller_encompassing").css('display', 'block');
    $("#prompt").html("For the scenario set below, please assume the role of the algorithm and decide which driver should be matched with an incoming potential request ping. Please assume that the drivers are in the same general area, and that the number of customers in demand and traffic conditions in the drivers’ area have no effect on your decision. Based on the information you believe the algorithm should consider when assigning drivers to request pings, please choose which driver the algorithm should assign the request ping to. The information about each driver below are features you previously chose that are applicable to these sets of scenarios.")
  });
</script>


<div id = "aller_encompassing" style = "display:none;">
<h2 id = "titulo" class="title"> Which Request Would You Like to Recieve? </h2>
<h6 id = "counter" style = "float:right;margin-top:-4%;margin-right:4%;font-size:2em;font-weight:lighter;color:grey;">
1/<%= @num_pairs %>
</h6>
<hr class="feature-hr"/>
<br/>
<p id="prompt" class="feature-text">
  For the scenario set below, please assume that you have your app open and the algorithm notifies
  you of two potential requests in your area. Please assume that the number of customers in demand
  and traffic conditions in your area have no effect on your decision. Based on the information you
  believe the algorithm should consider when assigning requests to drivers, please choose which customer
  you would prefer the algorithm to match you with. The information about each request below are features
  you previously chose that are applicable to these sets of scenarios.
</p>
<br/> <br/>

<div id = "all_encompassing" class = "0">

<% pcs = @pairwise_comparisons %>
<% pcs.each do |pc| %>

  <div class = "container-<%= pc.id %>" style = "width:70%;height:45vh;margin-left:15%;display:none" >
  <div class = "scenario_1" id = "<%= pc.id %>-1" style = "width:45%;float:left;margin-right:5%;cursor:pointer;">
    <div class="row">
      <div class="card ">
        <div class="card-content">
          <h5 style = "color:#3d6ab1"> Scenario A </h5>
            <% counter = 0 %>
            <% @feats.size.times do %>
              <% puts @feats.map{|n| n.category}.inspect %>
                <p style = "font-weight:bold;font-size:1.35em;">  <%= Scenario.for_group(pc.scenario_1).sort_by{|key| key}.to_h[Scenario.for_group(pc.scenario_1).sort_by{|key| key}.to_h.keys[counter]] %> </p> <br/>
                <p style = "margin-bottom:4%;margin-top:-3.5%">  <%= Feature.find(Scenario.for_group(pc.scenario_1).sort_by{|key| key}.to_h.keys[counter]).name %> </p>
              <% counter += 1 %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class = "scenario_2" id = "<%=pc.id%>-2" style = "width:45%;float:right;cursor:pointer;">
    <div class="row">
      <div class="card">
        <div class="card-content">
          <h5 style = "color:#3d6ab1"> Scenario B </h5>
            <% counter = 0 %>
            <% @feats.size.times do %>
                <p style = "font-weight:bold;font-size:1.35em;">  <%= Scenario.for_group(pc.scenario_2).sort_by{|key| key}.to_h[Scenario.for_group(pc.scenario_2).sort_by{|key| key}.to_h.keys[counter]] %> </p> <br/>
                <p style = "margin-bottom:4%;margin-top:-3.5%">  <%= Feature.find(Scenario.for_group(pc.scenario_2).sort_by{|key| key}.to_h.keys[counter]).name %> </p>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form action="#" style = "margin-left:35%;display:none" class = "f-<%= pc.id %>">
    <label style = "display:inline;margin-right:5%;">
      <input id = "<%=pc.id %>-A" class="with-gap" name="group3" type="radio" />
      <span>Choose A</span>
    </label>
    <label style = "display:inline;margin-right:5%;">
      <input id = "<%=pc.id %>-B" class="with-gap" name="group3" type="radio" />
      <span>Choose B</span>
    </label>
    <label style = "display:inline">
      <input id = "<%=pc.id %>-N" class="with-gap" name="group3" type="radio" />
      <span>Neither</span>
    </label> <br/> <br/>

    <input style="margin-left:-27%; overflow:visible" id = "reason-<%= pc.id %>" type="text" name="lower" value="" placeholder="Tell us why you chose this option —"> <br> <br>
    <p id = "error_r-<%= pc.id %>" style = "margin-left:-27%;color:red;margin-top:-1%;display:none"> Reason cannot be blank </p>
  </form>
<% end %>
</div>

<br><br> <br>

<%# TODO disable this if nothing inputted %>
<a class="waves-effect waves-dark btn" id = "next_btn" style = "margin-left:40%;width:20%;color:#FFFFFF;background-color:#3d6ab1;font-weight:bold;" >
Next Scenario
</a>
<br><br><br>
<br><br><br><br>
<script type="text/javascript">

  function validate_next() {
    var pc_id = 2;
    if (document.getElementById(`reason-${pc_id}`)) {
      alert("Make sure to fill in something for the reason input.");
    }
  }


</script>
</div>

<% @pairwise_comparisons.each do |pc| %>
  <%# on page load should set all to unchecked %>
  <script type='text/javascript'>
     $("#<%= pc.id%>-A").prop('checked', false);
     $("#<%= pc.id%>-B").prop('checked', false);
     $("#<%= pc.id%>-N").prop('checked', false);
     $("#reason-<%= pc.id%>").prop('disabled', true);
  </script>
<% end %>

<% @pairwise_comparisons.each do |pc| %>
  <script type="text/javascript">

    function post_choice (choice, i) {
      $.ajax({
        url: `/pairwise_comparisons/${i}?choice=`+choice+"&reason=" + "nope",
        type: "patch",
        success: function(){
          console.log('Saved Successfully');
        },
        error:function($xhr){
          console.log($xhr);
        }
      });
    }

     $("#<%= pc.id%>-A").click(function(event){
        console.log("i hate rails")
        $("#<%= pc.id%>-A").prop('checked', true)
        $("#<%= pc.id%>-B").prop('checked', false)
        $("#<%= pc.id%>-N").prop('checked', false)
        $("#reason-<%= pc.id%>").prop('disabled', false);
        post_choice(1, parseInt(<%= pc.id%>))
      });
    $("#<%= pc.id%>-B").click(function(event){
        $("#<%= pc.id%>-A").prop('checked', false)
        $("#<%= pc.id%>-B").prop('checked', true)
        $("#<%= pc.id%>-N").prop('checked', false)
        $("#reason-<%= pc.id%>").prop('disabled', false);
        post_choice(2, parseInt(<%= pc.id%>))
     });

     $("#<%= pc.id%>-N").click(function(event){
        $("#<%= pc.id%>-A").prop('checked', false)
        $("#<%= pc.id%>-B").prop('checked', false)
        $("#<%= pc.id%>-N").prop('checked', true)
        $("#reason-<%= pc.id%>").prop('disabled', false);
        post_choice('nil', parseInt(<%= pc.id%>))
     });
  </script>
<% end %>


  <script type="text/javascript">
    var num_pairs = <%= @num_pairs %>;
    function isWhitespaceOrEmpty(text) {
      return !/[^\s]/.test(text);
    }

    let first  = parseInt($("#all_encompassing").children().first()[0].className.match(/\d+/)[0])
    $('.container-' + `${first}`).css('display', 'block')
    $('.f-' + `${first}`).css('display', 'block')


    $("#next_btn").click(function(event){
      first  = parseInt(<%= @pairwise_comparisons.first.id %>)
      prev =   parseInt($("#all_encompassing")[0].className)
      reason =   "because... " + ($(`#reason-${first+prev}`)[0]).value
      if ( isWhitespaceOrEmpty(($(`#reason-${first+prev}`)[0]).value)) {
        $(`#error_r-${first+prev}`).css('display', 'block')
        return -1;
      }
      else {
          $(`#error_r-${first+prev}`).css('display', 'none')
      }
      $.ajax({
        url: `/pairwise_comparisons/${first+prev}?reason=`+reason,
        type: "patch",
        success: function(){
          console.log('Saved Successfully');
        },
        error:function($xhr){
          console.log($xhr);
        }
      });

      if (prev == num_pairs - 1)
      {
        $("#aller_encompassing").css('display', 'none')
        $("#pg_2").css('display', 'block');
      }

      $("#all_encompassing").attr('class', prev + 1 )
      $('.container-' + `${first+prev}`).css('display', 'none')
      $('.f-' + `${first+prev}`).css('display', 'none')
      $('.container-' + `${first+prev+1}`).css('display', 'block')
      $('.f-' + `${first+prev+1}`).css('display', 'block')
      $("#counter").html(`${((prev+1)%(num_pairs))+1}/${num_pairs}`)

    });

    function change_to_pw () {
      window.location.href = "/pairwise_comparisons/new"
    }




  </script>


  <style>
    [type="radio"]:checked + span:after,
    [type="radio"].with-gap:checked + span:before,
    [type="radio"].with-gap:checked + span:after {
     border: 2px solid #000000;
    }
    [type="radio"]:checked + span:after,
    [type="radio"].with-gap:checked + span:after {
     background-color: #000000;
    }

  </style>
