<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @pairwise_comparison.participant %>
</p>

<p>
  <strong>Scenario 1:</strong>
  <%= @pairwise_comparison.scenario_1 %>
</p>

<p>
  <strong>Scenario 2:</strong>
  <%= @pairwise_comparison.scenario_2 %>
</p>

<p>
  <strong>Choice:</strong>
  <%= @pairwise_comparison.choice %>
</p>

<%= link_to 'Edit', edit_pairwise_comparison_path(@pairwise_comparison) %> |
<%= link_to 'Back', pairwise_comparisons_path %>
