<div class="row">
 <div class = "login-b2">
   <h4 style = "color:white;"> Help us understand how algorithms <br> affect you. </h4>
   <p style = "color:white;">We are student researchers from Carnegie Mellon University.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
enim ad minim veniam, quis nostrud exercitation ullamco laboris
nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
culpa qui officia deserunt mollit anim id est laborum. <br><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
enim ad minim veniam. </p>
   <br> <br> <br><br> <br> <br><br> <br>  <br> <br> <br><br> <br> <br><br> <br> <br><br>
 </div>
</div>

<div class="row">
 <div class = "login-b1">
   <div>
     <div>
       <span>Login</span>
         <br /> <br /> <br /> <hr id = 'hhr'> <br />
         <%= form_with url: sessions_path, local: true do |f| %>
         <div class="control-group-id">
           <%= f.label :id, 'ID' %>
           <div class="controls">
             <%= f.text_field :id, placeholder: "ID" %>
           </div>
         </div>
         <br/>
         <div class="control-group-password">
           <%= f.label :password %>
           <div class="controls">
             <%= f.password_field :password, placeholder: "Password" %>
           </div>
         </div>
         <div class="actions-login"><%= f.submit "LOG IN" %></div>
       <% end %>
     </div>
   </div>
 </div>
</div>
