<div class="row">
 <div class = "login-b2">
   <h4 style = "color:white;"> Help us understand how algorithms <br> affect you. </h4>
   <p style = "color:white;">
    We are student researchers from Carnegie Mellon University.
    Thank you for voluntarily participating in our research. The goal of this
    online session is understand your work practice around your
    company’s in-app algorithm, which matches drivers with potential
    customers. We believe it is important to hear what drivers have to say
    about their companies’ current algorithmic systems and thus greatly
    appreciate your input. <br><br>

    There are no risks or benefits to participating in this session. Any data
    collected from this session will be stored confidentially and
    anonymously and only shared within our research team at Carnegie
    Mellon. Following the session, we will provide a gift card of your
    choosing as a show of our appreciation for your time. 
   </p>
   <br> <br> <br><br> <br> <br><br> <br>  <br> <br> <br><br> <br> <br><br> <br> <br><br>
 </div>
</div>

<div class="row">
 <div class = "login-b1">
   <div>
     <div>
       <span>Login</span>
         <br /> <br /> <br /> <hr id = 'hhr'> <br />
         <%= form_with url: sessions_path, local: true do |f| %>
         <div class="control-group-id">
           <%= f.label :id, 'ID' %>
           <div class="controls">
             <%= f.text_field :id, placeholder: "ID" %>
           </div>
         </div>
         <br/>
         <div class="control-group-password">
           <%= f.label :password %>
           <div class="controls">
             <%= f.password_field :password, placeholder: "Password" %>
           </div>
         </div>
         <div class="actions-login"><%= f.submit "LOG IN" %></div>
       <% end %>
     </div>
   </div>
 </div>
</div>
