<div id="rl-page">

  <h1>Individual Preference Models</h1>
  <hr class = "feature-hr">
  <p class = "about-text">
    The model list is a list of scenarios that the AI has ranked from most preferable to least preferable. 
    Please write the scenario ids in the fields below that represents your ranking of the presented scenarios.
  </p>

  <div class = "row">
    <table>
    <tr>
      <td><h4 class="subheader"> Model List </h4></td>
      <td><h4 class="subheader"> Your Ranks For: </h4></td>
    </tr>
      <% @displayElems.each do |elem| %>
        <td>
          <div class="container">
            <div class="card default">
              <div class="card-content">
                <h5><%= "Scenario #{elem[:scenario_id]}" %></h5>
                  <% elem[:features].each do |feature| %>
                      <div class = "cardRow">
                        <div class = "column left">
                          <p class="feature-name">  <%= feature[:name] %> </p>
                        </div>
                        <div class = "column right">
                          <p class="feature-value">  <%= feature[:value] %> </p>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </td>
        </tr>
      <% end %>
  </div>
  </table>
  <div class="row">
    <a class="btn" id = "submit_btn"> Submit Changes </a>
    <a class="btn" id = "lgtm_btn"> No Changes Needed </a>
  </div>
</div>


<script type="text/javascript">
  $(function() {
    $(".sortable").railsSortable();
  });

  $("#submit_btn").click(function(event) {
    let rlSize = <%= @rankedListSize %>;
    let ordering = [];
    for (let rank = 0; rank < rlSize; rank++) {
      let order = $(`#scenario-id-${rank}`).val();
      ordering.push(order);
    }
    let oldOrder = <%= raw params[:order] %>;
    let category = "<%= @category %>";
    console.log('ordering', oldOrder);
    $.ajax({
      url: "/ranked_list/update_human_ranks",
      type: "post",
      data: { new_order: ordering, order: oldOrder },
      success: function(new_round){
        console.log('Saved Successfully', new_round)
        if (new_round < 2) {
          window.location.href = "/evaluations/new?category=" + category;
        } else {
          if (category === 'request') {
            window.location.href = "/evaluations/new?category=" + "driver&reset=1";
          } else {
            window.location.href= "/ranked_list/done";
          }
        }
      },
      error:function($xhr){
        console.log($xhr);
      }
    });
  });

  $("#lgtm_btn").click(function(event) {
      window.location.href = "/ranked_list/done";
  });
</script>