<div id="rl-page">

  <h1>Individual Preference Models</h1>
  <hr class = "feature-hr">
  <p class = "about-text">
    The model list is a list of scenarios that the AI has ranked from most preferable to least preferable. 
    Please write the scenario ids in the fields below that represents your ranking of the presented scenarios.
  </p>

  <% rankedListExamples = @rankedListExamples %>
  <% selectedFeats = @selectedFeats %>
  

  <div class = "row">
    <div class = "column">
    <h4 class="subheader"> Model List </h4>
    <% @displayElems.each.with_index do |elem, index| %>

      <div class="container">
        <div class="card default">
          <div class="card-content">
            <h5><%= "Scenario #{elem[:scenario_id]}" %></h5>
            <% elem[:features].each do |feature| %>
                <div class = "cardRow">
                  <div class = "column left">
                    <p class="feature-name">  <%= feature[:name] %> </p>
                  </div>
                  <div class = "column right">
                    <p class="feature-value">  <%= feature[:value] %> </p>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class = "column">
    <h4 class="subheader"> Your List </h4>
    <div class="human-rank-container">
      <% rankedListExamples.each.with_index do |rl, index| %>
        <div class="block">
          <h5 class="human-rank"><%= "#{index + 1}:" %></h5>
          <input id=<%= "scenario-id-#{index}" %> class="scenario-input" type="text" name="scenario-id-input" value="">
        </div>
        <%-# For Dropdown Maybe? -%>
        <%-# select_tag "scenario_id", options_for_select(@scenarioIds)-%>
      <% end %>
    </div>
    </div>
  <a class="btn" id = "submit_btn"> Submit </a>
  </div>
</div>


<script type="text/javascript">
  $("#submit_btn").click(function(event) {
    let rlSize = <%= @rankedListSize %>;
    let ordering = [];
    for (let rank = 0; rank < rlSize; rank++) {
      let id = $(`#scenario-id-${rank}`).val();
      ordering.push(id);
    }
    $.ajax({
      url: "/ranked_list/reload",
      type: "post",
      data: { order: ordering, ranklist: <% @new_ranklist %> },
      success: function(){
        console.log('Saved Successfully');
        //window.location.href = "/pairwise_comparisons"
      },
      error:function($xhr){
        console.log($xhr);
      }
    });
  });

</script>