<div id="rl-page">

  <h1>Ranked List</h1>
  <hr id = "hhr">
  <p class = "directions">
    blah blah blah
  </p>

  <% rankedListExamples = @rankedListExamples %>
  <% selectedFeats = @selectedFeats %>
  

  <div class = "row">
    <div class = "column">
    <h4> Model List </h4>
    <% rankedListExamples.each.with_index do |rl, index| %>

      <div class="container">
      <div class="numberCircle"><%= @modelRanks[index] %></div>
        <div class="card default">
          <div class="card-content">
            <h5><%= "Scenario #{@scenarioIds[index]}" %></h5>
            <% counter = 0 %>
            <% selectedFeats.size.times do %>
              <% puts @selectedFeats.map{|n| n.category}.inspect %>
                <div class = "cardRow">
                  <div class = "column left">
                    <p class="feature-name">  <%= Feature.find(Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]).name %> </p>
                  </div>
                  <div class = "column right">
                    <p class="feature-value">  <%= Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h[Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]] %> </p>
                  </div>
                </div>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <div class = "column">
    <h4> Your List </h4>
    <div class="human-rank-container">
      <% rankedListExamples.each.with_index do |rl, index| %>
        <div class="block">
          <h5 class="human-rank"><%= "#{index + 1}:" %></h5>
          <input id = "scenario-id" type="text" name="scenario-id-input" value="">
        </div>

        <%-# For Dropdown Maybe? -%>
        <%-# select_tag "scenario_id", options_for_select(@scenarioIds)-%>
      <% end %>
    </div>


<%
=begin %>
    <a class="btn" id = "reorder_btn"> Reorder </a>
    <% rankedListExamples.each do |rl| %>
      <div class="container">
        <% puts @selectedFeats.map{|n| n.category}.inspect %>
        <div class="numberCircle"><%= @humanRanks[0] %></div>
        <div id = "user-list" class="card default">
          <div class="card-content">
            <% counter = 0 %>
            <% selectedFeats.size.times do %>
                <div class = "cardRow">
                  <div class = "column left">
                    <p class="feature-name">  <%= Feature.find(Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]).name %> </p>
                  </div>
                  <div class = "column right">
                    <p class="feature-value">  <%= Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h[Scenario.for_group(rl[0].group_id).sort_by{|key| key}.to_h.keys[counter]] %> </p>
                  </div>
                </div>
              <% counter += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
<%
=end %>

    </div>
  <a class="btn" id = "submit_btn"> Submit </a>
  </div>
</div>


<script type="text/javascript">
  $("#reorder_btn").onclick = function() {
    document.getElementById('some_form').style.visibility='hidden';   
  };

  $("#submit_btn").click(function(event) {
    alert("Hello! I am an alert box!!");
  };

</script>