<p id="notice"><%= notice %></p>

<h1>Data Ranges</h1>

<table>
  <thead>
    <tr>
      <th>Feature</th>
      <th>Is categorical</th>
      <th>Lower bound</th>
      <th>Upper bound</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_ranges.each do |data_range| %>
      <tr>
        <td><%= data_range.feature %></td>
        <td><%= data_range.is_categorical %></td>
        <td><%= data_range.lower_bound %></td>
        <td><%= data_range.upper_bound %></td>
        <td><%= link_to 'Show', data_range %></td>
        <td><%= link_to 'Edit', edit_data_range_path(data_range) %></td>
        <td><%= link_to 'Destroy', data_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Range', new_data_range_path %>
