<p id="notice"><%= notice %></p>

<p>
  <strong>Feature:</strong>
  <%= @data_range.feature %>
</p>

<p>
  <strong>Is categorical:</strong>
  <%= @data_range.is_categorical %>
</p>

<p>
  <strong>Lower bound:</strong>
  <%= @data_range.lower_bound %>
</p>

<p>
  <strong>Upper bound:</strong>
  <%= @data_range.upper_bound %>
</p>

<%= link_to 'Edit', edit_data_range_path(@data_range) %> |
<%= link_to 'Back', data_ranges_path %>
