<p id="notice"><%= notice %></p>

<h1>Participant Feature Weights</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Feature</th>
      <th>Weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participant_feature_weights.each do |participant_feature_weight| %>
      <tr>
        <td><%= participant_feature_weight.participant %></td>
        <td><%= participant_feature_weight.feature %></td>
        <td><%= participant_feature_weight.weight %></td>
        <td><%= link_to 'Show', participant_feature_weight %></td>
        <td><%= link_to 'Edit', edit_participant_feature_weight_path(participant_feature_weight) %></td>
        <td><%= link_to 'Destroy', participant_feature_weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant Feature Weight', new_participant_feature_weight_path %>
