<p id="notice"><%= notice %></p>

<p>
  <strong>Participant:</strong>
  <%= @participant_feature_weight.participant %>
</p>

<p>
  <strong>Feature:</strong>
  <%= @participant_feature_weight.feature %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @participant_feature_weight.weight %>
</p>

<%= link_to 'Edit', edit_participant_feature_weight_path(@participant_feature_weight) %> |
<%= link_to 'Back', participant_feature_weights_path %>
