<p id="notice"><%= notice %></p>

<p>
  <strong>Data range:</strong>
  <%= @categorical_data_option.data_range %>
</p>

<p>
  <strong>Option value:</strong>
  <%= @categorical_data_option.option_value %>
</p>

<%= link_to 'Edit', edit_categorical_data_option_path(@categorical_data_option) %> |
<%= link_to 'Back', categorical_data_options_path %>
