<%= form_with(model: scenario, local: true) do |form| %>
  <% if scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scenario.errors.count, "error") %> prohibited this scenario from being saved:</h2>

      <ul>
      <% scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :feature_id %>
    <%= form.text_field :feature_id %>
  </div>

  <div class="field">
    <%= form.label :feature_value %>
    <%= form.text_field :feature_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
