<div class="card">    
  <div class="card-content">
    <%= simple_form_for(@feature) do |f| %>
      <div class="row">
        <div class="form-inputs">
          <%= f.input :name, label_html: { class: 'active' } %>
          <%= f.input :description, label_html: { class: 'active' } %>
          <%= fields_for :data_range, @feature.data_range do |feature_range| %>
            Lower Bound  :<%= feature_range.text_field :lower_bound %>
            Upper Bound  :<%= feature_range.text_field :upper_bound %>
          <% end %>
          <%= f.text_field :active %>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="form-actions col s7">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
