<!DOCTYPE html>
<html>
  <head>
    <title>WeBuildAi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="white">
      <div class="nav-wrapper">
        <div class="col s12" style="padding-left: 70px; padding-right: 70px;">
          <a href="<%= root_path %>" class="brand-logo brand-text">WeBuildAI</a>
          <ul id="nav-mobile" class="right">
            <% if logged_in? %>
            <li><a href="<%= logout_path %>" class="wbai">Logout</a></li>
            <% end %>
          </ul>
        </div>
      </div>

    </nav>

    <%= yield %>
<!-- Footer -->
<% 
=begin %>
<footer class="footer" id="footer">
 <!-- Copyright -->
 <div class = "containeri-foot">
     <div class = "center" style = "margin-left:5%;">
          <%= image_tag ('CMU_Logo_Horiz_White.png'), :class => "logo" %>
          <span class = "text-muted"> Questions or comments? Contact dkusbit@gmail.com</span>
    </div>
 </div>
</footer>
<% 
=end %>
<!-- Footer -->
<script>
 $(document).ready(function() {
     var docHeight = $(window).height();
     var footerHeight = $('#footer').height();
     var footerTop = $('#footer').offset().top + footerHeight;
     if (footerTop < docHeight)
         $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
 });
</script>
  </body>
</html>
